navbar {
  background-color: #BC0001;
}

.nav-item {
  margin-right: 30px;
}

.intro_text p {
  padding-bottom: 20px;
}

.navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold;
  color: black;
}

body {
  background: #FFF3CC;
}

.img-logo {
  margin-left: 40px;
}

.testimonial-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}
.testimonial-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.testimonial-name {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}
.rating {
  color: orange;
  display: inline-block;
}
.star {
  margin-right: 5px;
}

.testimonial-box{
  background-color:  #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

  footer {
    background-color: #BC0001;
    color: white;
    padding: 20px 0;
    margin-top: 50px;
    
}
  
  